* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Open-seans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1618609377864-68609b857e90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(124, 122, 122);
    font-size: 1.3rem;
}

a:hover {
    color: purple;
}

/* HEADER */

header {
    position: relative;
}

.navbar{
    background-color: #fff;
    padding: 0 5%;
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;    
    
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo { 
    width: 100px;
    transform: translate(-80%, 5%);
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: purple;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    flex-direction: row;
    margin-left: 0.5rem;
    
}

.login_btn{
    background-color: purple;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.usergroup {
    color: black;
    
}



/* DROPDOWN MENUS */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #fff;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .login_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


.multilang {
    position: relative;
    font-weight: bold;

}

.multilang a { 
   color: grey;
   font-size: 0.8rem;  
    
}

.language-selected {
    display: flex;
    align-items: center;
    color: grey;
    cursor: pointer;
}

.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("brazil.svg");
    background-size: contain;
    background-repeat: 10px;
    margin-right: 10px;
}


/* FOOTER */

main {
    height: 80vh;
}

.footer {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30vh; 
    flex-shrink: 0;
    left: 0;

}

#footer-content {
    background-color: #fff;
    box-shadow: grey;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #fff; 
    font-size: 0.4;
    padding: 0.1rem;
    font-weight: 90;   
}


/* RESPONSIVIDADE */ 
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn,
    .footer, .logo {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .logo {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .logo {
        display: block;
    }
}

